/*
~*

#whitelist
!config/
!groovy/
!mods/
!oresources/
!patchouli_books/
!resources/
!schematics
!scripts/
!structures/
!.gitattributes
!.gitignore
!credits.txt
!LICENSE.txt
!README.md
!options.txt
!optionsof.txt
!optionsshaders.txt

*.jar
*.ogg
*.ini
*.py
config/BiomeTweaker/output/biome
config/fantasticlib/reference/
config/DarkThemeMod/logs.txt
config/splash.properties
config/InvTweaks/InvTweaks.cfg
config/craftpresence.properties
config/CQR/configVersions.properties
config/xaerominimap_entities.json
config/startuptimer/config.json
config/startuptimer/startup_times.json
config/tconstruct_oredictcache.dat
config/Special_AI.cfg
oresources/legendarytooltips/
mods/memory_repo
mods/tabula
