/*
~*

#whitelist
!.gitattributes
!.gitignore
!README.md
!asm/
!caches/
!config/
*.ogg
config/fantasticlib/reference/
!oresources/
oresources/legendarytooltips/
!patchouli_books/
!resources/
!schematics
!scripts/
!structures/
!credits.txt
!minecraftinstance.json
!options.txt
!optionsof.txt
!optionsshaders.txt
config/DarkThemeMod/logs.txt
config/splash.properties
config/InvTweaks/InvTweaks.cfg
config/craftpresence.properties
config/Special_AI.cfg
config/CQR/configVersions.properties
config/xaerominimap_entities.json
