# Configuration file

general {
    B:disableArmWear=true
    B:enableArmWearWithVanillaM=true
    S:noRenderArmWearList <
     >
    S:renderArmWearList <
        cqrepoured:*
     >
    S:renderBlackList <
     >

    # Different sources can work differently, choose the one that works better
    # The higher the source is on the list, the higher its priority
    # Deleting a render source will prevent it from working
    # Changes are applied after restarting the game
    # [event] - Standard rendering source, сan always work
    # [cleanroom] - Additional rendering source, can work if the mod is running on the cleanroom mod loader
    S:renderSourcesPriority <
        cleanroom
        event
     >

    # will be more optimized, but in theory may cause visual bugs
    B:useCheckByItem=false

    # Min: 0.0
    # Max: 10.0
    D:vanillaArmorModelSize=0.4
}


