# Configuration file

blacklist {
    # A blacklist of enchantments that are not available in E+. Format is just enchantmentid. [default: ]
    S:blacklistedEnchantments <
    minecraft:protection
	endercore:xpboost
	endercore:autosmelt
	enderio:witherarrow
	enderio:repellent
	enderio:witherweapon
	enderio:soulbound
	enderio:shimmer
	tombstone:soulbound
	cofhcore:leech
	cofhcore:multishot
	cofhcore:vorpal
    openblocks:explosive
	openblocks:last_stand
    openblocks:flim_flam
    ebwizardry:magic_sword
    ebwizardry:magic_bow
    ebwizardry:flaming_weapon
    ebwizardry:freezing_weapon
    ebwizardry:magic_protection
    ebwizardry:frost_protection
    ebwizardry:shock_protection
    tombstone:blessing
    tombstone:curse_of_bones
    nyx:lunar_edge
    nyx:lunar_shield
    theaurorian:lightning
    theaurorian:lightningresistance
	mod_lavacow:lifesteal
    cyclicmagic:enchantment.reach
    apotheosis:icy_thorns
    apotheosis:rebounding
    apotheosis:magic_protection
    elenaidodge:lightweight
    livingenchantment:enchantment.living
     >

    # A blacklist of items that can't be enchanted with this mod. Format is itemid#meta [default: ]
    S:blacklistedItems <
    tconstruct:pickaxe
    tconstruct:shovel
    tconstruct:hatchet
    tconstruct:mattock
    tconstruct:kama
    tconstruct:hammer
    tconstruct:excavator
    tconstruct:lumberaxe
    tconstruct:scythe
    tconstruct:broadsword
    tconstruct:longsword
    tconstruct:rapier
    tconstruct:frypan
    tconstruct:battlesign
    tconstruct:cleaver
    tconstruct:shortbow
    tconstruct:longbow
    tconstruct:crossbow
    tconstruct:arrow
    tconstruct:bolt
    tconstruct:shuriken
    tconevo:tool_sceptre
    conarm:helmet
    conarm:chestplate
    conarm:leggings
    conarm:boots
     >
}


general {
    # The base cost to use for the enchantment formula.  [range: 1 ~ 1024, default: 45]
    I:baseCost=45

    # A number used when calculated enchantment cost. This number is treated as a % based factor. 0.30 = 30% of the original cost. 1.5 = 150% of the original cost. [range: 0.0 ~ 1024.0, default: 1.0]
    S:costFactor=15.0

    # A factor used to make curse enchantments like vanishing cost more to apply. By default they cost 3X more. [range: 0.0 ~ 1024.0, default: 3.0]
    S:curseFactor=1.25

    # The amount of enchantment power a floating book should give. Bookshelfs have 1 power. [range: 0.0 ~ 1024.0, default: 1.0]
    S:floatingBookPower=1.0

    # A factor used to make treasure enchantments like mending cost more to apply. By default they cost 4X more. [range: 0.0 ~ 1024.0, default: 4.0]
    S:treasureFactor=1.75
}


