"_VERSION"=1
general {
    # Maximum achievable levels. If set to 0 or lower there is no upper limit
    maximumLevels=-1
    # Reduces the amount of modifiers a newly build tool gets if the value is lower than the regular amount of modifiers the tool would have
    newToolMinModifiers=2
}
toolxp {
    # Base XP for each of the listed tools
    baseXpForTool {
        "plustic:katana"=1250
        "plustic:laser_gun"=1250
        "tconevo:tool_sceptre"=1250
        "tconstruct:arrow"=1250
        "tconstruct:battlesign"=1250
        "tconstruct:bolt"=1250
        "tconstruct:broadsword"=1250
        "tconstruct:cleaver"=1250
        "tconstruct:crossbow"=1250
        "tconstruct:excavator"=11250
        "tconstruct:frypan"=1250
        "tconstruct:hammer"=11250
        "tconstruct:hatchet"=1250
        "tconstruct:kama"=1250
        "tconstruct:longbow"=1250
        "tconstruct:longsword"=1250
        "tconstruct:lumberaxe"=11250
        "tconstruct:mattock"=1250
        "tconstruct:pickaxe"=1250
        "tconstruct:rapier"=1250
        "tconstruct:scythe"=11250
        "tconstruct:shortbow"=1250
        "tconstruct:shovel"=1250
        "tconstruct:shuriken"=1250
    }
    # Base XP used when no more specific entry is present for the tool
    defaultBaseXP=1250
    # How much the XP cost will multiply per level, minimum 2.
    levelMultiplier=2
}
